$clr-medium-grey: #56575a;
$clr-dark-grey: #333;
$clr-off-white: rgb(230, 216, 216);
$clr-light-purple: rgb(177, 181, 238);
$main-font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
