// TODO: use sass

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: black;
  z-index: 100;

  &-main {
    position: fixed;
    background-color: #56575a;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;

    &-photo > img {
      max-width: 100%;
      max-height: 600px;
      object-fit: contain;
      border: yellow 2px solid;
    }

    &-photoDetails > p {
      text-align: left;
    }

    &-close {
      display: inline-block;
      position: relative;

      &-close > p {
        font-size: 0.75em;
        position: fixed;
        top: 0;
        right: 0;
      }
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
