// TODO: use sass

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: black;

  &-main {
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    padding: 5% 0;
    transform: translate(-50%, -50%);
    overflow: scroll;

    &-group {
      background: darkred;
      flex-direction: row;
      display: flex;
      align-items: center;
      width: 100%;
      flex-flow: row wrap;
      height: auto;

      &-photo {
        padding: 20px;
        width: 33.33%;
        order: 1;

        &-previous,
        &-next {
          display: block;
          max-width: 230px;
          max-height: 95px;
          width: auto;
          height: auto;
        }

        &:nth-of-type(1) {
          margin-left: 11%;
        }

        // &-photo > img {
        //   max-width: 100%;
        //   object-fit: contain;
        // }
      }
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
