.modal {
  background: rgba(0, 0, 0, 0.6);
  color: black;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  z-index: 100;
  overflow: auto;

  &-main {
    background-color: $clr-medium-grey;
    display: grid;
    grid-template-columns: 0.5fr 4fr 0.5fr;
    grid-template-rows: 0.3fr 0.3fr;
    gap: 5px 5px;
    height: 100%;
    left: 50%;
    overflow: auto;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    &-close {
      grid-column: 1 / 4 span;
      padding-top: 20px;
      padding-right: 2%;
      text-align: right;

      div {
        cursor: pointer;
        display: inline;
        right: 0;
        top: 0;
      }
    }

    &-photo {
      padding-top: 2vh;

      img {
        border: 3px solid $clr-off-white;
        border-radius: 1.5px;
        max-height: 500px;
        max-width: 100%;
        object-fit: contain;
      }

      &-photoDetails {
        padding: 3vh 6vh;

        p {
          color: $clr-off-white;
          font-size: 0.75em;
          text-align: left;
        }
      }
    }

    &-previous-hide,
    &-next-hide {
      visibility: hidden;
    }

    &-next,
    &-previous {
      cursor: pointer;
      max-height: 600px;
      max-width: 100%;
      object-fit: contain;
      padding-top: 35vh;
    }

    &-next > div,
    &-previous > div,
    &-close > div {
      color: $clr-off-white;
      font-size: 1.5em;
    }

    &-next:hover,
    &-previous:hover,
    &-close:hover {
      div {
        color: $clr-light-purple;
      }
    }
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
