.header {
  background-color: $clr-dark-grey;
  height: auto;
  overflow: hidden;
  padding-bottom: 1vh;
  padding-top: 0.5vh;
  position: fixed;
  top: 0px;
  width: 100%;

  &-title {
    font-family: $main-font;
  }
}
