.header {
  overflow: hidden;
  background-color: $clr-dark-grey;
  position: fixed;
  top: 0px;
  width: 100%;
  height: auto;
  padding-top: 0.5vh;
  padding-bottom: 1vh;

  &-title {
    font-family: $main-font;
  }
}
