.footer {
  background-color: $clr-dark-grey;
  bottom: 0px;
  height: auto;
  overflow: hidden;
  position: fixed;
  width: 100%;

  &-title {
    font-family: $main-font;
    font-size: medium;
    margin: 20px 25px 0 0;
    padding-bottom: 1vh;
    padding-top: 0.75vh;
    text-align: right;
  }
}
