.footer {
  overflow: hidden;
  background-color: $clr-dark-grey;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: auto;

  &-title {
    font-family: $main-font;
    text-align: right;
    margin: 20px 25px 0 0;
    font-size: medium;
    padding-top: 0.75vh;
    padding-bottom: 1vh;
  }
}
