.photoGrid {
  border: 2px solid white;
  margin-top: 80px;

  &-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  &-column {
    flex: 10%;
    padding: 0 4px;

    img {
      margin-top: 8px;
      vertical-align: middle;
    }
  }
}
