.photoGrid {
  border-radius: 1.5px;
  margin: 0 auto;
  width: 80%;

  &-main-container {
    scroll-behavior: smooth;
  }

  &-row {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  &-column {
    img {
      cursor: pointer;
      max-width: 450px;
      max-height: 200px;
      margin: 2vh auto;
      border: 3px solid $clr-off-white;
      border-radius: 1.5px;
      box-shadow: 3px 3px rgba(148, 134, 134, 0.301);

      &:hover {
        border: 1px solid $clr-off-white;
      }
    }
  }
}
